* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-family: "Kumbh Sans", sans-serif;
  font-family: "Lexend Deca", sans-serif;
  font-family: "Outfit", sans-serif;
  font-family: "Red Hat Display", sans-serif;
}

body {
  background-color: hsl(0, 6%, 24%);
  min-height: 100vh;
  font-size: 16px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  background-image: linear-gradient(hsl(0, 0%, 100%), hsl(0, 100%, 98%));
  height: 800px;
  width: 375px;
}

.top {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: left;
  margin-left: 30px;
}

.logo img {
  width: 100px;
  height: 22px;
}

.image-container img {
  height: 250px;
}
.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 50px 35px 30px;
}

.description h1 {
  font-size: 40px;
  margin-bottom: 20px;
  letter-spacing: 12px;
  text-transform: uppercase;
  font-weight: 300;
  color: hsl(0, 36%, 70%);
  line-height: 40px;
}

span {
  color: hsl(0, 6%, 24%);
  font-weight: 400;
  font-size: 40px;
}

.description p {
  color: hsl(0, 36%, 70%);
  line-height: 25px;
  font-size: 15px;
}

.email-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.error-container {
  position: absolute;
  left: 245px;
  display: flex;
  align-items: center;
  visibility: hidden;
}

#arrow-box {
  height: 46px;
  width: 60px;
  background-image: linear-gradient(hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 282px;
  border: none;
  cursor: pointer;
  -moz-box-shadow: 2px 94px 87px -38px rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 2px 94px 87px -38px rgba(0, 0, 0, 0.8);
  -ms-box-shadow: 2px 94px 87px -38px rgba(0, 0, 0, 0.8);
  box-shadow: 2px 94px 87px -38px rgba(0, 0, 0, 0.8);
}

#arrow-box:hover {
    background-image: linear-gradient(hsl(0, 80%, 90%), hsl(0, 74%, 80%));
}

.search {
  width: 310px;
  height: 45px;
  background: transparent;
  border: solid 1px hsl(0, 36%, 75%);
  border-radius: 20px;
  padding: 15px 25px;
  outline: none;
}

::placeholder {
  color: hsl(0, 36%, 80%);
  letter-spacing: 1px;
  font-size: 13px;
}

.arrow-box img {
  height: 16px;
  width: 10px;
}

.message-div {
  display: flex;
  justify-content: center;
  font-size: 10px;
  margin-top: 10px;
  margin-left: 50px;
  visibility: hidden;
}

.message-div p {
  width: 310px;
  color: hsl(0, 93%, 68%);
}

.image-container2 {
  display: none;
}


@media screen and (min-width: 1440px) {
  main {
    flex-direction: row;
  }

  .container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
  }

  .desktop-wrapper {
    margin: 60px 235px 130px 165px;
  }

  .image-container {
    display: none;
  }

  .logo img {
    width: 160px;
    height: 30px;
  }

  .description {
    display: flex;
    text-align: left;
    margin-top: 100px;
  }

  .description h1 {
    font-size: 70px;
    margin-bottom: 20px;
    letter-spacing: 15px;
    line-height: 75px;
  }

  span {
    font-size: 70px;
  }

  .description p {
    line-height: 30px;
    font-size: 15px;
    letter-spacing: 1px;
    width: 420px;
  }

  .email-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .error-container {
    position: absolute;
    left: 330px;
    display: flex;
    align-items: center;
    visibility: hidden;
  }

  #arrow-box {
    height: 55px;
    width: 100px;
    background-image: linear-gradient(hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 367px;
    border: none;
  }

  .search {
    width: 440px;
    height: 52px;
    background: transparent;
    border: solid 1px hsl(0, 36%, 75%);
    border-radius: 20px;
    padding: 15px 25px;
    outline: none;
  }
  
  .arrow-box img {
    height: 15px;
    width: 10px;
  }

  .message-div {
    display: flex;
    justify-content: left;
    font-size: 10px;
    margin-top: 10px;
    margin-left: 40px;
    visibility: hidden;
  }

  .message-div p {
    width: 310px;
    color: hsl(0, 93%, 68%);
  }

  .image-container2 {
    display: block;
  }

  .image-container2 img{
    height:100%;
  }

}
